In [2]:
import os
print(os.curdir)

.

In [3]:
import os
for i in os.listdir("C:/Users/being/Dt Sci-Work/"):
    print(i)

Jobs - Interview
Personal Projects
Practice - Github
Practice - NPMS
Practice - Python
Practice- Computer Vision
Practice-SQL
Time Series Analysis
venv

In [4]:
import os
for i in os.listdir("../file-paths/"):
    print(i)

data
file-paths.ipynb
rough.py
weather_data.csv

In [5]:
"""
To move two directories levels up from the current directory in Python, you can use ../..
Here's an example:
"""


import os
for i in os.listdir("../../file-handling/"):
    print(i)

file-organizer
file-paths
weather_data.csv
zipfile

In [7]:
"""
To move three directories levels up from the current directory in Python, you can use ../../../
Here's an example:


"""


for i in os.listdir("../../../Practice - Python/"):
    print(i)

.git
.gitignore
.ipynb_checkpoints
anagram.ipynb
decorators
DSA-Python
factorial.py
fibonacci
file-handling
find_nums_list.py
for-while-else-loop.ipynb
generatiors.ipynb
list_comprehension.ipynb
move_zeros.ipynb
OOPs
pattern
prime_numbers.ipynb
README.md
rough.ipynb
weather_data.csv

# ./ is useless

In [1]:
import pandas as pd

In [3]:
pd.read_csv("./weather_data.csv").head()

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [4]:
pd.read_csv("weather_data.csv").head()

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [7]:
# both are same

print(pd.read_csv("data/weather_data.csv").head())
print("******************")
print(pd.read_csv("./data/weather_data.csv").head())

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain
******************
        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [11]:
# one - directory up

print(pd.read_csv("../weather_data.csv").head())

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain
        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [12]:
# two - directory up

print(pd.read_csv("../../weather_data.csv").head())

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain