In [1]:
import pandas as pd

In [3]:
df_stn = pd.read_csv("./Delhi-Electricity-SubStations.csv")
print(f"length = {len(df_stn)}")
df_stn.head()

length = 43

,_id,Substations,Telephone Numbers,Address,Voltage Class,Coordinates
0,1,Bawana,27791190/1193/1210,"400kV Sub-Station Bawana, Sector-5, DSIIDC Baw...",400 kV,"28.79568, 77.0723"
1,2,Bamnauli,25314199/25314204,"Village-Bamnauli, P.O. Dhul Sirus, Near Chhawa...",400 kV,"28.5447, 77.03269"
2,3,Harsh Vihar,0120-6500138,"Harsh Vihar, Loni Road (Near Bhopura Chowk), D...",400 kV,"28.71185, 77.29044"
3,4,Tikri Kalan(Mundka),65108444/7290010893,"Neewala Village Road, Near Vaishno Devi Mandir...",400 kV,"28.67671, 76.98639"
4,5,BTPS,26948637,"Badarpur Thermal Power Station Complex, Badarp...",220 kV,"28.50765, 77.30015"

In [14]:
""" 
Question
Create a data frame from the input (File: Delhi-Electricity-SubStation.csv).
In Telephone Numbers there are multiple numbers.  Create separate columns for these Telephone1, Telephone2 etc.

"""


max_column = 0
def tlphn_data(tlphn_numb):
    numb_list = str(tlphn_numb).split("/")
    cur_len = len(numb_list)
    if cur_len > max_column:
        max_column = cur_len
    return max_column


df_stn['max-col-num'] = df_stn['Telephone Numbers'].apply(tlphn_data)

UnboundLocalError: cannot access local variable 'max_column' where it is not associated with a value

In [5]:
## solution ChatGPT


"""
prompt : why it is giving error ?

python code :
max_column = 0
def tlphn_data(tlphn_numb):
    numb_list = str(tlphn_numb).split("/")
    cur_len = len(numb_list)
    if cur_len > max_column:
        max_column = cur_len
    return max_column


df_stn['max-col-num'] = df_stn['Telephone Numbers'].apply(tlphn_data)


Answer : 


The error you're encountering is likely due to the use of the `max_column` variable inside the `tlphn_data` function without properly declaring it as a global variable.

In Python, when you want to modify a global variable from within a function, you need to explicitly declare it as a global variable using the `global` keyword. Without declaring it as global, Python will treat `max_column` as a local variable inside the function, which can lead to errors.

To fix this issue, add the `global` keyword inside your `tlphn_data` function like this:

```python
max_column = 0
def tlphn_data(tlphn_numb):
    global max_column  # Declare max_column as a global variable
    numb_list = str(tlphn_numb).split("/")
    cur_len = len(numb_list)
    if cur_len > max_column:
        max_column = cur_len
    return max_column
```

By adding `global max_column`, you tell Python that you want to use the global `max_column` variable within the function, and any modifications made to it will affect the global variable.

"""

'\nprompt : why it is giving error ?\n\npython code :\nmax_column = 0\ndef tlphn_data(tlphn_numb):\n    numb_list = str(tlphn_numb).split("/")\n    cur_len = len(numb_list)\n    if cur_len > max_column:\n        max_column = cur_len\n    return max_column\n\n\ndf_stn[\'max-col-num\'] = df_stn[\'Telephone Numbers\'].apply(tlphn_data)\n\n\nAnswer : \n\n\n\n\n'